<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
    </head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="img/tasmanian.png" alt="Image of the tasmanian devil">
        </div>
        
        
        {{>footer}}
    </body>
</html>